/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Raleway", "sans-serif";
$header-font: "Raleway", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.5;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #4F9BFF;

$purple: #9396FA;
$aqua: #00F2FE;
$blue: #244F74;
$green: #32B796;
$orange: #FF9854;
$gray: #F1F1F1;
