.cards {
  height: 300px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(224, 225, 229, 1);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  h3 {
    color: $brand-color;
    font-size: 34px;
    font-weight: bold;
  }
  .image-cards {
    padding-top: 2em;
    max-width: 30px;
  }
  p {
    color: $blue;
  }
}

.avatar-speaker {
  margin-top: 2em;
}

.cards:hover {
  cursor: pointer;
}

.unstyle-link:hover {
  text-decoration: none;
}
