.tabs {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab {
  flex: 0 0 15%;
  padding: 10px 5px;
  margin: 15px 2px;
  border: none;
  border-bottom: 2px solid $gray;
  opacity: 0.7;
}

.tab.active {
  font-weight: bold;
  border: none;
  border-bottom: 2px solid $aqua;
  color: $aqua;
  opacity: 1;
  text-decoration: none !important;
}

.tab.active p:hover {
  text-decoration: none;
}

.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  }

